


p{

    color: purple;
    font-weight: bold;
    font-size: x-large;
font-family: sans-serif, Georgia, 'Times New Roman', Times, serif ;
text-align: left;

}
body{
    background-color: rgba(111, 111, 98, 0.542);
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: black;
    font-weight: bold;
font-family: sans-serif, Georgia, 'Times New Roman', Times, serif ; 
background-color: purple;
padding:20px
}
h2{
    color: black;
    font-weight: bold;
font-family: sans-serif, Georgia, 'Times New Roman', Times, serif ;
text-align: center; 
}
    
h3{
    color: rgba(93, 144, 161, 0.994);
    font-weight: bold;
font-family: sans-serif, Georgia, 'Times New Roman', Times, serif ; 
text-align: left;
}
section{
    background-color: rgb(59, 58, 58);
    color:purple;
    padding:10px;
    display:flex;
    flex-direction: column;
    text-align: center;
    
    
}
footer{
    background-color: black;
    padding: 10px 20px;
    
    font-weight: bold;
    font-family: sans-serif, Georgia, 'Times New Roman', Times, serif ;
}
div{
    
    margin: auto;
    
   
}
ul{
    margin: 0;
    padding:0;
    list-style-type: none;
    text-align: center;
    
}
li{
    display: inline-block;
    margin-right: 20px;
    
}