p{
    color: purple;
    font-weight: bold;
font-family: sans-serif, Georgia, 'Times New Roman', Times, serif ;
}
body{
    background-color: darkgray;
   
}
h1{
    text-align: center;
    color: black;
    font-weight: bold;
font-family: sans-serif, Georgia, 'Times New Roman', Times, serif ; 
}
h2{
    color: Black;
    font-weight: bold;
font-family: sans-serif, Georgia, 'Times New Roman', Times, serif ; 
}
    
h3{
    color: black;
    font-weight: bold;
font-family: sans-serif, Georgia, 'Times New Roman', Times, serif ; 
}

